<!-- Icon List -->
<style>
.demo-list-icon {
  width: 300px;
}
</style>

<div class="mdl-grid demo-content">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>The Kanban Board goes here...</h3>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Task Title<br>
          Created at DATE/TIME<br>
          Type of Task
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Some Text Here
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">assignment</i>
      </div>
    </div>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Task Title<br>
          Created at DATE/TIME<br>
          Type of Task
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Some Text Here
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">assignment</i>
      </div>
    </div>


    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Task Title<br>
          Created at DATE/TIME<br>
          Type of Task
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Some Text Here
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">assignment</i>
      </div>
    </div>


    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Task Title<br>
          Created at DATE/TIME<br>
          Type of Task
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Some Text Here
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">assignment</i>
      </div>
    </div>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Task Title<br>
          Created at DATE/TIME<br>
          Type of Task
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Some Text Here
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">assignment</i>
      </div>
    </div>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Task Title<br>
          Created at DATE/TIME<br>
          Type of Task
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Some Text Here
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">assignment</i>
      </div>
    </div>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Task Title<br>
          Created at DATE/TIME<br>
          Type of Task
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Some Text Here
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">assignment</i>
      </div>
    </div>

    <div class="demo-card-event mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h4>
          Task Title<br>
          Created at DATE/TIME<br>
          Type of Task
        </h4>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Some Text Here
        </a>
        <div class="mdl-layout-spacer"></div>
        <i class="material-icons">assignment</i>
      </div>
    </div>



  </div>
</div>