<ul class="tab-group">
  <li class="tab"><a href="/signup">Sign Up</a></li>
  <li class="tab active"><a href="/login">Log In</a></li>
</ul>

<div id="login">
  <h1>Welcome Back!</h1>

    {{#if message}}
      <p class="message">{{message}}</p>
    {{/if}}
    <form action="/login" method="post">
    <div class="field-wrap">
    <label for="email">
      Email Address<span class="req">*</span>
    </label>
    <input name="email" type="email" id="email" required autocomplete="off"/>
  </div>

  <div class="field-wrap">
    <label for="password">
      Password<span class="req">*</span>
    </label>
    <input name="password" type="password" id="password" required autocomplete="off"/>
  </div>
  <div class="links">
    <div class="links-left">
      <p class="left-link"><a href="/signup">Need an account?</a></p>
    </div>
    <div class="links-right">
      <p class="right-link"><a href="#">Forgot Password?</a></p>
    </div>
  </div>

  <button type="submit" class="button button-block"/>Log In</button>
  </form>
</div>
